body {
    background-color: rgb(199, 199, 179);
     font-family: Arial, sans-serif;

}

img {

    width: 350px;
    height: 450px;
    display: block;
    margin-top: 20px;
    border-radius: 5%;
    justify-content: center;
    background-color: rgb(236, 189, 34);
    border: 15px solid #000;

}

.conteudo {
    text-align: center;
    background-color: rgb(235, 154, 56);
    border-radius: 10px;
   
}

.cor {
    display: flex;
    justify-content: center;
    align-items: center;
}